<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>124375162404-0kg7df49f03tf9bo09rq3cs0vmfl77k8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.124375162404-0kg7df49f03tf9bo09rq3cs0vmfl77k8</string>
	<key>API_KEY</key>
	<string>AIzaSyC_PivUqKiv0kfmPm_c8ecrFwftT1FbQs4</string>
	<key>GCM_SENDER_ID</key>
	<string>124375162404</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Group9.TuffyFood</string>
	<key>PROJECT_ID</key>
	<string>tuffyfood-3241c</string>
	<key>STORAGE_BUCKET</key>
	<string>tuffyfood-3241c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:124375162404:ios:689d9afe31d3618318c2b1</string>
</dict>
</plist>